{% extends 'agora/base.html' %}
{% load set_var %}
{% block content12 %}

<div style="background:#e2e0e0" class="project-header">
  <label class="toogle-menu" for="toogle-menu-check"><span class="hamburger"></span></label>
  <h1 style="background: #e2e0e0">Plano Diretor Participativo - UNICAMP</h1>
  <input id="toogle-menu-check" name="toogle-menu-check" type="checkbox" />
  <ul class="nav">
    <li style="background: #e2e0e0"><a href="{% url 'agora:home' %}">Home</a></li>
    <li style="background: #f7f7f7"><a href="{% url 'agora:pdpu' %}">Página Inicial</a></li>
    <li style="background: #00c0ef"><a href="{% url 'conheca:pdpu-conheca' %}">Conheça</a></li>
    <li style="background: #12d673"><a href="{% url 'agora:pdpu-participe' %}">Participe</a></li>
    <li style="background: #f39c12"><a href="{% url 'resultados:pdpu-resultados' %}">Resultados</a></li>
    <li style="background: #f56954"><a href="{% url 'forum:home' %}">Comunidade</a></li>
  </ul>
</div>

<div class="home-page" style="margin-top:60px;">
  <div style="margin:10px;">
    <div class="mural-pad"> Mural
    </div>
    <div class="mural-box-section" style="background:#00c0ef;">
      {% for msg in message_conheca %}
      <p><li class="mural-msg-font">{{msg.message}}<font class="mural-date-font">{{msg.publ_date|date:'d-m-Y H:i'}}</font></li></p>
      {% endfor %}
    </div>
    <div class="mural-box-section" style="background:#12d673;">
      {% for msg in message_participe %}
      <p><li class="mural-msg-font">{{msg.message}}<font class="mural-date-font">{{msg.publ_date|date:'d-m-Y H:i'}}</font></li></p>
      {% endfor %}
    </div>
    <div class="mural-box-section" style="background:#f39c12;">
      {% for msg in message_resultados %}
      <p><li class="mural-msg-font">{{msg.message}}<font class="mural-date-font">{{msg.publ_date|date:'d-m-Y H:i'}}</font></li></p>
      {% endfor %}
    </div>
    <div class="mural-box-section" style="background:#f56954;">
      {% for msg in message_comunidade %}
      <p><li class="mural-msg-font">{{msg.message}}<font class="mural-date-font">{{msg.publ_date|date:'d-m-Y H:i'}}</font></li></p>
      {% endfor %}
    </div>
    <div class="mural-pad" style="float:left;margin-bottom:20px;"> Não deixe de participar! Vote!
    </div>
  </div>

  {% if not_answered %}
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" id="modal-dialog-mob">
      <div class="modal-content">
        <div style="color:black;padding:15px;font-size:16px;">Decida! Precisamos muito da sua participação:</div>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade in" style="text-align:center;width:60%;margin:0 auto;padding:5px;" role="alert">
          <button type="button" style="width:60%:margin:0 auto;" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
        </div></br>
        {% endfor %}
        {% for question in not_answered %}
        {% if question.id|slugify == first_question %}
        <div class="box-question" style="width:95%;">
          <div class="box-question-title">Questão {{question.id}}
          </div>
          <div class="box-question-header">
            <p>
              {% for tag in question.tags.all %}
              <form style="float:left;" action="{% url 'agora:search' tag.name %}" method="post">
                <input style="float:left;border:0px" class="btn-xs btn-default btn-info" type="submit" value="{{ tag.name }}"/> &nbsp
              </form>
              {% endfor %}
              <strong>Publicado em:</strong> {{ question.publ_date }}&nbsp;&nbsp;&nbsp;
              <strong>Expira em:</strong> {{ question.exp_date }}
            </p>
            <div class="plainlinks hlist" style="width:100%;border-top:1px solid #12d673; padding-top:0.4em; margin-top:0.8em;">
            </div>
            <div class="question-title">{{ question }}</div>
            {% if question.image %}
            <img src="{{ question.image.url }}" width="350px" height="250px" />  </br></br>
            {% endif %}
            <form action="{% url 'agora:vote_initial' question.id %}" method="post">
              {% csrf_token %}
              {% if question.question_type == '1' %}
              <ul class="list-group">
                {% for choice in question.choice_set.all %}
                <div class="list-group-item">
                  <input type="radio" name="choice" id="choice{{ choice.id }}" value="{{ choice.id }}" />
                  <label class="question-choice" for="choice{{ choice.id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ choice.choice_text }}</label><br/>
                </div>
                {% endfor %}
              </ul>
              {% elif question.question_type == '2' %}
              <ul class="list-group">
                {% for choice in question.choice_set.all %}
                <div class="list-group-item">
                  <input type="checkbox" name="choice" id="choice{{ choice.id }}" value="{{ choice.id }}" />
                  <label class="question-choice" for="choice{{ choice.id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ choice.choice_text }}</label><br/>
                </div>
                {% endfor %}
              </ul>
              {% elif question.question_type == '3' %}
              <textarea class="form-control" name="text" id="question_text{{ question.id }}" value="" rows="3"></textarea><br/>
              {% endif %}
              <br/><input class="btn btn-default btn-info" type="submit" value="Enviar" />
            </form>
            <div class="plainlinks hlist" style="width:100%;clear:both; border-top:1px solid #12d673; padding-top:0.4em; margin-top:0.8em;"></div>
          </div>
        </div>
        <br />
        {% endif %}
        {% endfor %}

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Ir para o Home</button>
        </div>
      </div>
    </div>
  </div>
  {%endif%}
  <script>
  $('#myModal').modal('show')
  </script>
</div>
{% endblock content12 %}
