{% extends 'agoraunicamp/base.html' %}
{% load set_var %}
{% load staticfiles %}
{% block content12 %}

<div style="background: #f56954" class="project-header">
  <label class="toogle-menu" for="toogle-menu-check"><span class="hamburger"></span></label>
  <h1 style="background: #f56954">Plano Diretor Participativo - UNICAMP</h1>
  <input id="toogle-menu-check" name="toogle-menu-check" type="checkbox" />
  <ul class="nav">
    <li style="background: #e2e0e0"><a href="{% url 'agora:home' %}">Home</a></li>
    <li style="background: #f7f7f7"><a href="{% url 'agora:pdpu' %}">Página Inicial</a></li>
    <li style="background: #00c0ef"><a href="{% url 'conheca:pdpu-conheca' %}">Conheça</a></li>
    <li style="background: #12d673"><a href="{% url 'agora:pdpu-participe' %}">Participe</a></li>
    <li style="background: #f39c12"><a href="{% url 'resultados:pdpu-resultados' %}">Resultados</a></li>
    <li style="background: #f56954"><a href="{% url 'forum:home' %}">Comunidade</a></li>
  </ul>
</div>

{% if cat %}
<div class="forum-menu">
  <div style="padding:20px">
    <div class="list-group">
      {% if categories_list %}
      {% for category in categories_list %}
      <a class="list-group-item" href="{% url 'forum:forum' category|slugify category.id %}"><strong>{{ category }}</strong></a>
      {% for topic in category.topic_set.all %}
      <li><div style="padding:10px"><a style="color:black" href="{% url 'forum:topic' topic.id %}">{{ topic}}</a></div></li>
      {% endfor %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

<div class="forum-section">
  {% if categories_list %}
  {% for category in categories_list %}
  {% for topic in category.topic_set.all %}
  <div class="topic-position">
    <div class="forum-topic">
      {% if topic %}
      <div id="area{{topic.id}}" class="header-topic">
        <div class="title-name">{{ topic }}</div>
        <span class="sub-title-name"> Categoria: {{ category }} - Publicado em: {{ topic.pub_date }} </span></br></br>
        <span class="subtitle-name-topic">{{ topic.text|safe }}</span>
      </div>
      <div class="plainlinks hlist">
      </div>


      {% for answer in topic.topicanswer_set.all %}
      <div class="render-response">
        <div class="forum-username">{{ answer.user}}{% if answer.user.user.user.nickname %}
        ({{answer.user.user.user.nickname}})
        {% endif %}&nbsp;&nbsp;
        </div>
        <div contenteditable="true" class="sub-title-topic" id="test">{{ answer.text|safe|linebreaks }}
        </div>
        <div style="float:left" class="sub-title-name">{{answer.answer_date}}
        </div>





        {% if answer.user == topic_user %}
        <div style="float:right">
          <input id="botao" name="div{{answer.text}}{{answer.answer_date}}" type="button" style="display:visible"  value="editar" onClick="ativa(this.name)" />
        </div>
        <div id="div{{answer.text}}{{answer.answer_date}}" style="display:none" class="response-area">
          <form action="{% url 'forum:answer_home_edit' topic.id  %}" method="post">
            <textarea  name="text" rows='1' class="response-textarea">{% autoescape off %}{{ answer.text }}{% endautoescape %}
            </textarea>
            <center><input id="button-forum" class="btn btn-default btn-info" type="submit" value="Responder" /></center>
          </form>
        </div>

        <script>
        function ativa(x){
        var div = document.getElementById(x);
        /* se conteúdo está escondido, mostra e troca o valor do botão para: esconde */
        if (div.style.display == 'none') {

        div.style.display = "inline"
        } else {
        /* se conteúdo está a mostra, esconde o conteúdo e troca o valor do botão para: mostra */
        div.style.display = 'none'
        document.getElementById("botao").value='editar'
        }
        }
        </script>

        {% endif %}






      </div>
      <br/>
      {% endfor %}
      {% endif %}
      <br/>

      {% set flag = 0 %}
      {% for t in topic_users %}
      {% if t.topic == topic %}
      {% if t.user = topic_user %}
      {% set flag = 1 %}
      {% endif %}
      {% endif %}
      {% endfor %}

      {% if flag = 0 %}

      <div class="response-area">
        <form action="{% url 'forum:answer_home' topic.id %}" method="post">
          <textarea  name="text" rows='1' placeholder='Comente aqui' class="response-textarea"></textarea>
          <center><input id="button-forum" class="btn btn-default btn-info" type="submit" value="Responder" /></center>
        </form>
      </div>
      <!--<button id="b" style="visibility:visible;margin:5px" type="button" onclick="Mudarestado('minhaDiv{{topic.id}}')">Comentar</button>-->

      <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script type="text/javascript" src="{% static "agora/ckeditor/ckeditor/ckeditor.js" %}"></script>
      <script type="text/javascript" src="{% static "agora/ckeditor/ckeditor-init.js" %}"></script>
      <script type="text/javascript" src="{% static "agora/ckeditor/ckeditor/adapters/jquery.js" %}"></script>
      <script>
      var textarea = document.querySelector('textarea');

      textarea.addEventListener('keydown', autosize);

      function autosize(){
        var el = this;
        setTimeout(function(){
          el.style.cssText = 'height:auto; padding:0';
          // for box-sizing other than "content-box" use:
          // el.style.cssText = '-moz-box-sizing:content-box';
          el.style.cssText = 'height:' + el.scrollHeight + 'px';
        },0);
      }
      </script>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  {% endfor %}
  {% endif %}
</div>


{% endblock content12 %}
